@model List<uygulama30.Models.Product>

<div class="recent-product">
    <div class="container">
        <div class="section-header">
            <h3>Recent Product</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra at massa sit amet ultricies. Nullam consequat, mauris non interdum cursus
            </p>
        </div>
        <div class="row align-items-center product-slider product-slider-4">
           @foreach(var item in Model)
            {
                <div class="col-lg-3">
                    <div class="product-item">
                        <div class="product-image">
                            <a href="/Home/ProductDetails/@item.Id">
                                <img src="/ProductImages/@item.ProductPicture" alt="Product Image">
                            </a>
                            <div class="product-action">
                                <a href="#"><i class="fa fa-cart-plus"></i></a>
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="#"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="title"><a href="#">@item.Name</a></div>
                            <div class="ratting">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">@item.Price <span>@item.Price</span></div>
                        </div>
                    </div>
                </div>
            }
            
           
        </div>
    </div>
</div>